@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy/gilroy-regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('fonts/Gilroy/gilroy-regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy/gilroy-regular.woff2') format('woff2'),
        url('fonts/Gilroy/gilroy-regular.woff') format('woff'),
        url('fonts/Gilroy/gilroy-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy/gilroy-bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('fonts/Gilroy/gilroy-bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy/gilroy-bold.woff2') format('woff2'),
        url('fonts/Gilroy/gilroy-bold.woff') format('woff'),
        url('fonts/Gilroy/gilroy-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy/Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('fonts/Gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy/Gilroy-Semibold.woff2') format('woff2'),
        url('fonts/Gilroy/Gilroy-Semibold.woff') format('woff'),
        url('fonts/Gilroy/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
        url('fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

body {
    font-family: 'Gilroy';
    font-weight: normal;
    margin: 0 auto;
    max-width: 1300px;

}

header {
    padding-top: 40px;
    margin-bottom: 82px;
    display: flex;
    justify-content: space-between;
}

main {
    padding-bottom: 103px;
    width: fit-content;
}

.welcome__heading {
    padding-top: 63px;
    margin-bottom: 17px;
}

.welcome__text {
    margin-bottom: 37px;
}

footer {

    padding: 97px 0px 96px 0px;
}


nav a {
    font-size: 14px;
    line-height: 16px;
    color: black;
}

nav li:first-child a {
    color: #F25822;

}

.welcome__btn {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    width: 120px;
    height: 40px;
    background: #F25822;
    border-radius: 30px;
    text-align: center;
    border: none;
}

.header__logo_text {
    font-size: 24px;
    line-height: 28px;
    display: flex;
    flex-wrap: nowrap;
    gap: 0px;
}

.header__logo_be {
    color: #F25822;
}

.welcome__heading {
    font-size: 60px;
    line-height: 70px;
    font-family: 'Gilroy';
    font-weight: bold;
    width: 522px;

}

.welcome__text {
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    width: 466px;
}

.welcome__link_video {
    font-size: 15px;
    line-height: 18px;

    color: #AAAAAA;
}

.welcome .welcome__btn {
    font-size: 15px;
    line-height: 18px;
    margin-right: 12px;

}

.nav__list li {
    list-style: none;
    display: inline;
    margin-left: 10px;
}

.nav__a_features__img_arrow {
    padding-bottom: 2px;
}

.header__logo {
    display: flex;
    justify-content: start;
    gap: 14px;
    align-items: center;
    flex-wrap: wrap;
}

.header__logo_text {
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
}

.welcome__btns {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 17px;
}

.welcome {
    display: flex;
    justify-content: space-between;
    gap: 41px;
    flex-wrap: wrap;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}