* {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

body {
    margin: 0 auto;
}

header {
    padding-top: 40px;
    margin: 0px 375px 82px 375px;
}

main {
    padding: 0px 429px 103px 352px;
}

.welcome__heading {
    padding-top: 63px;
    margin-bottom: 17px;
}

.welcome__text {
    margin-bottom: 37px;
}

footer {
    padding: 97px 375px 96px 345px;
}

/* стилизация */
.nav__list {
    list-style: none;
}

nav a {
    font-size: 14px;
    line-height: 16px;
    color: black;
}

nav li:first-child a {
    color: #F25822;

}

.welcome__btn {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    width: 120px;
    height: 40px;
    background: #F25822;
    border-radius: 30px;
    text-align: center;
    border: none;
}

.header__logo_text {
    font-size: 24px;
    line-height: 28px;
    display: flex;
    gap: 0px;
}

.header__logo_be {
    color: #F25822;
}

.welcome__heading {
    font-size: 60px;
    line-height: 70px;
}

.welcome__text {
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.welcome__link_video {
    font-size: 15px;
    line-height: 18px;

    color: #AAAAAA;
}